.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: whitesmoke;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.response {
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  margin: 10px;
}

select {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
}

button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-size: 14px;
  background-color: lightblue;
}

button:hover {
  background-color: #033076;
  color: whitesmoke;
}

input {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  font-size: 16px
}
